body{
	background:
    	url(../style/action_menu/images/ui/pattern.png) repeat left top,
    	url(../style/action_menu/images/ui/gradient.png) no-repeat left top / 100% 100%;
    color: #f7f7f7;
    font-family: 'Monda', sans-serif;
    overflow:hidden;
}
#mainButton{
	position: absolute;
	bottom: 20px;
	text-align: center;
}
#mainButton span{
	display: block;
	position: relative;
	top: -1em;
}
#mainTitle{
	font-size: 4em;
	text-align: center;
	width: 100%;
	text-shadow:0px 0px 5px #00;
}
#c{
	display: none;
}
.fullScreen{
	background:
    	url(../style/action_menu/images/ui/pattern.png) repeat left top,
    	url(../style/action_menu/images/ui/gradient.png) no-repeat left top / 100% 100%;
	position:relative;
	width: 100%;
	height: 100%;
}